<%- include('./partials/header.ejs')%>
    <div class="content">
        <h4>Welcome to Yum Trucks Annual Food Tour</h4>
        <p>We go across all regions of the United States to allow food trucks and vendors to give the local community a taste of their culture!</p>
        <p>Check out the event page to see available dates near you!</p>
    </div>
    <%- include('./partials/footer.ejs')%>