<%- include('./partials/header.ejs')%>
    <div class="content">
        <h4>Information</h4>
        <p>Contact us if you would like to be a vendor at <strong>828-294-1050</strong></p>
        <p>Location: <strong>1600 Amphitheatre Parkway Mountain View, CA 94043, USA</strong></p>
    </div>
    <%- include('./partials/footer.ejs')%>