<%- include('./partials/header.ejs')%>
<section class="home" id="home">
    <ul class="home-text">
        <li><h1>Welcome to the Best</h1></li>
        <li><h1><span>Food Truck</span></h1></li>
        <li><h1>In Town</h1></li>
        <li><p>YumTruck welcomes you to join and support your local community. <br>
            Come and enjoy different variety of food and activities. <br><br>
            More information about the event, check out our event page.
        </p></li>
    </ul>
</section>
<%- include('./partials/footer.ejs')%>
